<p id="notice"><%= notice %></p>

<div class="container">
    <center><h1>Направления</h1></center>
  <% if can? :create, @direction %>
    <%= link_to 'Создать', new_direction_path %>
  <% end %>

    <br>
  <% @directions.each do |direction| %>
    <div class="content">
      <%= link_to direction.name, direction %>
      <% if can? :update, @direction %>
        <td><%= link_to 'Edit', edit_direction_path(direction) %></td>
      <% end %>
      <% if can? :destroy, @direction %>
        <td><%= link_to 'Destroy', direction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </div>
  <% end %>
</div>