<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @prof.name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @prof.desc %>
</p>

<p>
  <strong>Direction:</strong>
  <%= @prof.direction %>
</p>

<%= link_to 'Edit', edit_prof_path(@prof) %> |
<%= link_to 'Back', profs_path %>
