<p id="notice"><%= notice %></p>
<div class="login">
  <% if user_signed_in? %>
      <span>Здравствуйте, <%= current_user.email %></span>
      <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>
  <% else %>
      <%= link_to 'Войти', new_user_session_path %> или <%= link_to 'Зарегистрироваться', new_user_registration_path %>
  <% end %>
</div>

<div id="mainmenu">
  <ul>
    <li><%= link_to "Главная", root_path %></li>
    <li> <%= link_to "Направления", directions_path %></li>
    <li><%= link_to "Профессии", profs_path %></li>
    <li><%= link_to "Блог", blogs_path %></li>
    <li><%= link_to "Тесты", '#' %></li>
    <li><%= link_to "Элемент меню", '#' %></li>
  </ul>
</div>
